@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  /* Variables */
  --gray_100: hsl(0, 0%, 59%);
  --gray_200: hsl(0, 0%, 17%);

  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--gray_200);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Titles */

h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  margin-block: 0 0.5rem;
}

h3 {
  margin: 0;
}

/* List */

ul {
  margin: 0;
  list-style: none;
}

/* Buttons */

button {
  border-radius: 8px;
  border: 0;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--gray_200);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 2px solid var(--gray_200);
}

/* Link */

a {
  font-weight: 500;
  text-decoration: inherit;
}

/* input */
input {
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray_200);
}

input:focus,
input:focus-visible {
  outline: 2px solid var(--gray_200);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
